/* MAIN BACKGROUND COLOR: #29292b */
/* MAIN BORDER/ACCENT BLUE: #3333f5 */
/* OFF BACKGROUND COLOR (HOVER ETC): #333336*/

.window__background {
    -fx-background-color: #29292b;
    -fx-border-width: 0 0.5 0.5 0.5;
    -fx-border-color: black;
}

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/
.button {
    -fx-background-color: #29292b;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #333336;
}

.button__back {
    -fx-background-color: #29292b;
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.button__back:hover {
    -fx-background-color: #29292b;
    -fx-cursor: hand;
}

.button__round {
    -fx-border-radius: 1000px;
    -fx-background-radius: 1000px;
}

.button--blue-border {
    -fx-border-color: #3333f5;
    -fx-border-radius: 6;
}

.no-border {
    -fx-border-color: transparent;
}

.no-hover:hover {
    -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * ButtonBar                                                                   *
 *                                                                             *
 ******************************************************************************/
 .custom-button-bar .button {
    -fx-border-radius: 1000px;
    -fx-background-radius: 1000px;
 }

/*******************************************************************************
 *                                                                             *
 * CarList                                                                     *
 *                                                                             *
 ******************************************************************************/
 .car-list-background,
 .car-list {
    -fx-background-color: #29292b
 }

.car-list-background .viewport,
 .car-list .viewport {
    -fx-background-color: #29292b
 }

 .car-list-background .viewport .car-list__vbox,
 .car-list .viewport .car-list__vbox {
    -fx-background-color: #29292b
 }

 .car-list-background .viewport .car-list__listview,
 .car-list .viewport .car-list__listview {
    -fx-background-color: #29292b
 }

/**************************** CarList Scrollbar **************************************/
.car-list-background .scroll-bar: vertical *.increment-button,
.car-list-background .scroll-bar: vertical *.decrement-button,
.car-list .scroll-bar: vertical *.increment-button,
.car-list .scroll-bar: vertical *.decrement-button {
    -fx-background-color: #29292b;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 1;
}

.car-list-background .scroll-bar: vertical *.increment-arrow,
.car-list-background .scroll-bar: vertical *.decrement-arrow,
.car-list .scroll-bar: vertical *.increment-arrow,
.car-list .scroll-bar: vertical *.decrement-arrow {
    -fx-background-color: #29292b;
    -fx-fill-color: #29292b;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: null;
    -fx-padding: 0.0 0.3em;
}

.car-list-background .scroll-bar: vertical *.track,
.car-list .scroll-bar: vertical *.track {
    -fx-background-color: #29292b;
}

.car-list-background .scroll-bar: vertical *.thumb,
.car-list .scroll-bar: vertical *.thumb {
    -fx-background-color: #3333f5;
}

/*******************************************************************************
 *                                                                             *
 * Dialog                                                                      *
 *                                                                             *
 ******************************************************************************/
 .dialog * {
    -fx-background-color: #29292b;
    -fx-text-fill: white;
}

.dialog .text-field {
    -fx-border-color: #3333f5;
    -fx-border-radius: 6;
}

/*******************************************************************************
 *                                                                             *
 * Dropdown (Custom ComboBox)                                                  *
 *                                                                             *
 ******************************************************************************/
.dropdown {
    -fx-background-color: transparent;
    -fx-border-color: #3333f5;
    -fx-height: 200px;
    -fx-width: 1000px;
}

.dropdown .list-cell { /*the "button" cell*/
    -fx-text-fill: white;
    -fx-padding: 10;
    -fx-font-size: 20;
}

.dropdown__placeholder-value .list-cell {
    -fx-text-fill: grey;
}

.dropdown .combo-box-popup .list-view { /*the popup's background, behind each cell*/
    -fx-background-color: #29292b;
    -fx-border-color: #3333f5;
    -fx-border-width: 0 1 1 1;
}

.dropdown .combo-box-popup .list-view .list-cell { /*the popup's cells*/
    -fx-border-width: 0px;
    -fx-text-fill: white;
    -fx-background-color: #29292b;
}

.dropdown .combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #56565c;
}

/**************************** Dropdown Scrollbar **************************************/
.dropdown .combo-box-popup .list-view .scroll-bar: vertical *.increment-button,
.dropdown .combo-box-popup .list-view .scroll-bar: vertical *.decrement-button {
    -fx-background-color: #29292b;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 1;
}

.dropdown .combo-box-popup .list-view .scroll-bar: vertical *.increment-arrow,
.dropdown .combo-box-popup .list-view .scroll-bar: vertical *.decrement-arrow {
    -fx-background-color: #29292b;
    -fx-fill-color: #29292b;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: null;
    -fx-padding: 0.0 0.3em;
}

.dropdown .combo-box-popup .list-view .scroll-bar: vertical *.track {
    -fx-background-color: #29292b;
}

.dropdown .combo-box-popup .list-view .scroll-bar: vertical *.thumb {
    -fx-background-color: #3333f5;
}

/*******************************************************************************
 *                                                                             *
 * Horizontal separator                                                        *
 *                                                                             *
 ******************************************************************************/
.separator-horizontal {
    -fx-padding: 2em;
    -fx-border-width: 1;
    -fx-border-color: grey;
}

.separator-horizontal--container {
    -fx-background-color: #29292b;
}

/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/
 .label {
    -fx-text-fill: azure;
 }


/*******************************************************************************
 *                                                                             *
 * List Cell                                                                   *
 *                                                                             *
 ******************************************************************************/
 .list-cell {
    -fx-text-fill: white;
 }
 .list-cell:even {
    -fx-background-color: #29292b;
 }
 .list-cell:odd {
    -fx-background-color: #333336;
 }

 .car-cell:selected {
    -fx-background-color: #3333f5;
 }

/*******************************************************************************
 *                                                                             *
 * Text field                                                                  *
 *                                                                             *
 ******************************************************************************/
.text-field {
    -fx-border-color: #3333f5;
    -fx-border-radius: 6;
    -fx-background-color: #333336;
}